<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Super Mega Ultra Web-site</title>
    <link rel="stylesheet" href="/styles.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>


</head>

<body>
<header>
    <nav>
        <ul>
            <div class="logo">
                <img src="/logo.png" alt="Logo">
            </div>
            <% if (loggedIn) { %>
                <li><a href="/"><%= __('HOME') %></a></li>
                <li><a href="/profile"><%= __('PROFILE') %></a></li>
                <li><a href="/anime"><%= __('ANIME2') %></a></li>
                <li><a href="/manga"><%= __('MANGA2') %></a></li>
                <% if (admin) { %>
                    <li><a href="/admin"><%= __('ADMIN') %></a></li>
                <% } %>
                <li><a href="/logout"><%= __('LOGOUT') %></a></li>

            <% } %>



            <% if (!loggedIn) { %>
                <li><a href="/login"><%= __('LOGIN') %></a></li>
                <li><a href="/register"><%= __('REGISTER') %></a></li>
            <% } %>
        </ul>

        <div class="language-switcher">
            <a href="/change-lang/en"><%= __('LANGUAGE_EN') %></a>
            <a href="/change-lang/ru"><%= __('LANGUAGE_RU') %></a>
        </div>
    </nav>

</header>
</body>

</html>
