<%- include('header') %>

<div class="user-profile">

    <h1 class="welcome-message">Hello, <%= username %>!</h1>

    <div class="user-info">
        <h2>User Information</h2>
        <p>Username: <%= user.username %></p>
        <p>Phone: <%= user.phoneNumber %></p>
        <p>Age: <%= user.age %></p>
        <p>Favorite Anime: <%= user.favoriteAnime %></p>
    </div>

    <div class="center">
        <h1>User Profile</h1>

        <% if (typeof errorMessage !== 'undefined') { %>
            <p class="error-message"><%= errorMessage %></p>
        <% } %>
        <% if (typeof successMessage !== 'undefined') { %>
            <p class="success-message"><%= successMessage %></p>
        <% } %>

        <form action="/profile/delete" method="POST">
            <button class="delete-button" type="submit">Delete Account</button>
        </form>

        <form action="/profile/pass" method="POST">
            <input type="password" name="password" placeholder="Old Password">
            <input type="password" name="password2" placeholder="New Password">
            <input type="password" name="password3" placeholder="Confirm New Password">
            <button class="change-password-button" type="submit">Change Password</button>
        </form>
    </div>
    <div class="anime-list">
        <h2>My Anime List</h2>
        <% user.animeList.forEach(anime => { %>
            <div class="anime-item">
                <img src="<%= anime.image_url %>" alt="<%= anime.title %>">
                <p><%= anime.title %></p>
                <p>Status: <%= anime.status %></p>
                <!-- Добавьте здесь кнопки для изменения статуса или удаления -->
            </div>
        <% }) %>
    </div>

    <div class="manga-list">
        <h2>My Manga List</h2>
        <% user.mangaList.forEach(manga => { %>
            <div class="manga-item">
                <img src="<%= manga.image_url %>" alt="<%= manga.title %>">
                <p><%= manga.title %></p>
                <p>Status: <%= manga.status %></p>
                <!-- кнопки для изменения статуса или удаления -->
            </div>
        <% }) %>
    </div>
</div>
<%- include('footer') %>
