<%- include('header') %>

<div class="user-profile">

    <h1 class="welcome-message"><%= __('WELCOME_MESSAGE') %> Nurkhat!</h1>

    <div class="user-info">
        <h2><%= __('USER_INFO') %></h2>
        <p><%= __('USERNAME') %>: <%= user.username %></p>
        <p><%= __('PHONE') %>: <%= user.phoneNumber %></p>
        <p><%= __('AGE') %>: <%= user.age %></p>
        <p><%= __('FAVORITE_ANIME') %>: <%= user.favoriteAnime %></p>
    </div>

    <div class="center">
        <h1><%= __('USER_PROFILE_TITLE') %></h1>

        <% if (typeof errorMessage !== 'undefined') { %>
            <p class="error-message"><%= errorMessage %></p>
        <% } %>
        <% if (typeof successMessage !== 'undefined') { %>
            <p class="success-message"><%= successMessage %></p>
        <% } %>

        <form action="/profile/delete" method="POST">
            <button class="delete-button" type="submit"><%= __('DELETE_ACCOUNT') %></button>
        </form>

        <form action="/profile/pass" method="POST">
            <input type="password" name="password" placeholder="<%= __('OLD_PASSWORD') %>">
            <input type="password" name="password2" placeholder="<%= __('NEW_PASSWORD') %>">
            <input type="password" name="password3" placeholder="<%= __('CONFIRM_NEW_PASSWORD') %>">
            <button class="change-password-button" type="submit"><%= __('CHANGE_PASSWORD') %></button>
        </form>
    </div>
    <div class="anime-list">
        <h2><%= __('MY_ANIME_LIST') %></h2>
        <% user.animeList.forEach(anime => { %>
            <div class="anime-item">
                <img src="<%= anime.image_url %>" alt="<%= anime.title %>">
                <p><%= anime.title %></p>
                <p><%= __('STATUS') %>: <%= anime.status %></p>
                <form action="/profile/updateAnimeStatus" method="POST">
                    <input type="hidden" name="animeId" value="<%= anime.animeId %>">
                    <select name="newStatus">
                        <option value="<%= __('TO_WATCH') %>"><%= __('TO_WATCH') %></option>
                        <option value="<%= __('WATCHING') %>"><%= __('WATCHING') %></option>
                        <option value="<%= __('WATCHED') %>"><%= __('WATCHED') %></option>
                    </select>
                    <button type="submit"><%= __('UPDATE_STATUS') %></button>
                </form>
                <form action="/profile/deleteAnime" method="POST">
                    <input type="hidden" name="animeId" value="<%= anime.animeId %>">
                    <button type="submit"><%= __('DELETE') %></button>
                </form>
            </div>
        <% }) %>
    </div>

    <div class="manga-list">
        <h2><%= __('MY_MANGA_LIST') %></h2>
        <% user.mangaList.forEach(manga => { %>
            <div class="manga-item">
                <img src="<%= manga.image_url %>" alt="<%= manga.title %>">
                <p><%= manga.title %></p>
                <p><%= __('STATUS') %>: <%= manga.status %></p>
                <form action="/profile/updateMangaStatus" method="POST">
                    <input type="hidden" name="mangaId" value="<%= manga.mangaId %>">
                    <select name="newStatus">
                        <option value="<%= __('TO_READ') %>"><%= __('TO_READ') %></option>
                        <option value="<%= __('READING') %>"><%= __('READING') %></option>
                        <option value="<%= __('READ') %>"><%= __('READ') %></option>
                    </select>
                    <button type="submit"><%= __('UPDATE_STATUS') %></button>
                </form>
                <form action="/profile/deleteManga" method="POST">
                    <input type="hidden" name="mangaId" value="<%= manga.mangaId %>">
                    <button type="submit"><%= __('DELETE') %></button>
                </form>
            </div>
        <% }) %>
    </div>
</div>
<%- include('footer') %>
